@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@keyframes slide-horizontal {
  0% {
    left: 100%;
    transform: translateY(-50%) translateX(0) scale(1);
  }
  100% {
    left: -120px;
    transform: translateY(-50%) translateX(0) scale(1);
  }
}

.animate-slide-horizontal {
  animation: slide-horizontal 20s linear infinite;
}
